# - 네이버 데이터랩을 활용한 구 별 각 키워드 검색량 3년 Data Crawling

#### * 구글 트렌드와 똑같이 네이버 데이터랩 역시 한 번에 5개의 키워드 밖에 검색하지 못 해 코드를 반복해서 사용함

In [1]:
import urllib.request
import json
import os
import sys
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
client_id = "03UuFs5fkXeFbYR0uTXT"
client_secret = "_b3QvBuvKQ"
url = "https://openapi.naver.com/v1/datalab/search";

## #숙소 키워드로 검색량 분석

In [23]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"강남구 숙소","keywords":["강남구 숙소","강남구호텔", "강남구게스트하우스"]},
                     {"groupName":"강동구 숙소","keywords":["강동구 숙소", "강동구호텔", "강동구게스트하우스"]},
                     {"groupName":"강북구 숙소","keywords":["강북구 숙소", "강북구호텔", "강북구게스트하우스"]},
                     {"groupName":"강서구 숙소","keywords":["강서구 숙소", "강서구호텔", "강서구게스트하우스"]},
                     {"groupName":"관악구 숙소","keywords":["관악구 숙소", "관악구호텔", "관악구게스트하우스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [24]:
df0 = pd.DataFrame(json_obj['results'][0]['data'])
df0.columns = ['기간', '강남구 숙소']
df0.set_index('기간')

df1 = pd.DataFrame(json_obj['results'][1]['data'])
df1.columns = ['기간', '강동구 숙소']
df1 = df1.drop(['기간'], axis=1)

df2 = pd.DataFrame(json_obj['results'][2]['data'])
df2.columns = ['기간', '강북구 숙소']
df2 = df2.drop(['기간'], axis=1)

df3 = pd.DataFrame(json_obj['results'][3]['data'])
df3.columns = ['기간', '강서구 숙소']
df3 = df3.drop(['기간'], axis=1)

df4 = pd.DataFrame(json_obj['results'][4]['data'])
df4.columns = ['기간', '관악구 숙소']
df4 = df4.drop(['기간'], axis=1)

df = pd.concat([df0,df1,df2,df3,df4], axis=1, join='outer')

df.head(10)

           기간    강남구 숙소    강동구 숙소   강북구 숙소    강서구 숙소   관악구 숙소
0  2017-01-01  12.26685  10.80822  0.98039  41.53515  3.77809
1  2017-02-01  12.24294   9.42132  0.83692  41.72644  4.04112
2  2017-03-01  11.90817   8.63223  1.29124  41.60688  2.72596
3  2017-04-01  12.02773   8.01052  1.50645  39.26351  2.17599
4  2017-05-01  13.22333   8.39311  0.86083  44.78718  2.00860
5  2017-06-01  14.82544  10.54519  2.08034  43.28072  4.20851
6  2017-07-01  14.92109  13.48637  2.46293  62.38641  5.45193
7  2017-08-01  17.19273  14.87326  1.69775  57.10186  5.33237
8  2017-09-01  12.52989  10.04304  1.17168  46.15016  4.99760
9  2017-10-01  18.69918  12.88857  2.27164  47.63271  5.54758

In [25]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"광진구 숙소","keywords":["광진구 숙소", "광진구호텔", "광진구게스트하우스"]},
                     {"groupName":"구로구 숙소","keywords":["구로구 숙소", "구로구호텔", "구로구게스트하우스"]},
                     {"groupName":"금천구 숙소","keywords":["금천구 숙소", "금천구호텔", "금천구게스트하우스"]},
                     {"groupName":"노원구 숙소","keywords":["노원구 숙소", "노원구호텔", "노원구게스트하우스"]},
                     {"groupName":"도봉구 숙소","keywords":["도봉구 숙소", "도봉구호텔", "도봉구게스트하우스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [26]:
df5 = pd.DataFrame(json_obj['results'][0]['data'])
df5.columns = ['기간', '광진구 숙소']
df5 = df5.drop(['기간'], axis=1)

df6 = pd.DataFrame(json_obj['results'][1]['data'])
df6.columns = ['기간', '구로구 숙소']
df6 = df6.drop(['기간'], axis=1)

df7 = pd.DataFrame(json_obj['results'][2]['data'])
df7.columns = ['기간', '금천구 숙소']
df7 = df7.drop(['기간'], axis=1)

df8 = pd.DataFrame(json_obj['results'][3]['data'])
df8.columns = ['기간', '노원구 숙소']
df8 = df8.drop(['기간'], axis=1)

df9 = pd.DataFrame(json_obj['results'][4]['data'])
df9.columns = ['기간', '도봉구 숙소']
df9 = df9.drop(['기간'], axis=1)

df = pd.concat([df, df5,df6,df7,df8,df9], axis=1, join='outer')


df.head(10)

,기간,강남구 숙소,강동구 숙소,강북구 숙소,강서구 숙소,관악구 숙소,광진구 숙소,구로구 숙소,금천구 숙소,노원구 숙소,도봉구 숙소
0,2017-01-01,12.26685,10.80822,0.98039,41.53515,3.77809,32.26324,10.52969,2.40770,8.15409,2.24719
1,2017-02-01,12.24294,9.42132,0.83692,41.72644,4.04112,34.44622,8.41091,3.37078,8.28250,1.63723
2,2017-03-01,11.90817,8.63223,1.29124,41.60688,2.72596,32.77688,8.34670,3.94863,10.27287,2.11878
3,2017-04-01,12.02773,8.01052,1.50645,39.26351,2.17599,36.05136,5.68218,4.10914,7.76886,0.44943
4,2017-05-01,13.22333,8.39311,0.86083,44.78718,2.00860,40.19261,7.06260,2.88924,7.83306,2.34349
5,2017-06-01,14.82544,10.54519,2.08034,43.28072,4.20851,42.08667,8.89245,5.04012,10.11235,1.57303
6,2017-07-01,14.92109,13.48637,2.46293,62.38641,5.45193,50.20866,14.31781,5.29695,9.88764,8.25040
7,2017-08-01,17.19273,14.87326,1.69775,57.10186,5.33237,48.86035,18.13804,6.16372,10.27287,9.88764
8,2017-09-01,12.52989,10.04304,1.17168,46.15016,4.99760,45.23274,11.65329,4.23756,10.24077,8.89245
9,2017-10-01,18.69918,12.88857,2.27164,47.63271,5.54758,47.67255,24.81540,4.20545,13.77207,9.85553

In [27]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"동대문구 숙소","keywords":["동대문구 숙소","동대문구호텔", "동대문구게스트하우스"]},
                     {"groupName":"동작구 숙소","keywords":["동작구 숙소","동작구호텔", "동작구게스트하우스"]},
                     {"groupName":"마포구 숙소","keywords":["마포구 숙소","마포구호텔", "마포구게스트하우스"]},
                     {"groupName":"서대문구 숙소","keywords":["서대문구 숙소","서대문구호텔", "서대문구게스트하우스"]},
                     {"groupName":"서초구 숙소","keywords":["서초구 숙소","서초구호텔", "서초구게스트하우스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [28]:
df10 = pd.DataFrame(json_obj['results'][0]['data'])
df10.columns = ['기간', '동대문구 숙소']
df10 = df10.drop(['기간'], axis=1)

df11 = pd.DataFrame(json_obj['results'][1]['data'])
df11.columns = ['기간', '동작구 숙소']
df11 = df11.drop(['기간'], axis=1)

df12 = pd.DataFrame(json_obj['results'][2]['data'])
df12.columns = ['기간', '마포구 숙소']
df12 = df12.drop(['기간'], axis=1)

df13 = pd.DataFrame(json_obj['results'][3]['data'])
df13.columns = ['기간', '서대문구 숙소']
df13 = df13.drop(['기간'], axis=1)

df14 = pd.DataFrame(json_obj['results'][4]['data'])
df14.columns = ['기간', '서초구 숙소']
df14 = df14.drop(['기간'], axis=1)

df = pd.concat([df, df10,df11,df12,df13,df14], axis=1, join='outer')


df.head(10)

,기간,강남구 숙소,강동구 숙소,강북구 숙소,강서구 숙소,관악구 숙소,광진구 숙소,구로구 숙소,금천구 숙소,노원구 숙소,도봉구 숙소,동대문구 숙소,동작구 숙소,마포구 숙소,서대문구 숙소,서초구 숙소
0,2017-01-01,12.26685,10.80822,0.98039,41.53515,3.77809,32.26324,10.52969,2.40770,8.15409,2.24719,3.97111,4.85976,18.07831,4.85976,16.52318
1,2017-02-01,12.24294,9.42132,0.83692,41.72644,4.04112,34.44622,8.41091,3.37078,8.28250,1.63723,3.94334,4.30435,20.66092,8.21993,20.16106
2,2017-03-01,11.90817,8.63223,1.29124,41.60688,2.72596,32.77688,8.34670,3.94863,10.27287,2.11878,2.33268,2.13829,17.32851,5.66509,14.41266
3,2017-04-01,12.02773,8.01052,1.50645,39.26351,2.17599,36.05136,5.68218,4.10914,7.76886,0.44943,2.30491,3.33240,19.52235,5.35962,14.02388
4,2017-05-01,13.22333,8.39311,0.86083,44.78718,2.00860,40.19261,7.06260,2.88924,7.83306,2.34349,2.99916,4.24881,24.27103,3.91557,15.13468
5,2017-06-01,14.82544,10.54519,2.08034,43.28072,4.20851,42.08667,8.89245,5.04012,10.11235,1.57303,5.35962,4.77645,24.07664,3.44348,18.74479
6,2017-07-01,14.92109,13.48637,2.46293,62.38641,5.45193,50.20866,14.31781,5.29695,9.88764,8.25040,3.11024,5.08192,25.04859,8.80311,26.46487
7,2017-08-01,17.19273,14.87326,1.69775,57.10186,5.33237,48.86035,18.13804,6.16372,10.27287,9.88764,4.41544,7.27575,24.52096,9.38628,32.12996
8,2017-09-01,12.52989,10.04304,1.17168,46.15016,4.99760,45.23274,11.65329,4.23756,10.24077,8.89245,4.97084,5.99833,31.68564,8.88642,18.80033
9,2017-10-01,18.69918,12.88857,2.27164,47.63271,5.54758,47.67255,24.81540,4.20545,13.77207,9.85553,7.02582,8.05331,26.21494,10.33046,23.46570

In [29]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"성동구 숙소","keywords":["성동구 숙소","성동구호텔", "성동구게스트하우스"]},
                     {"groupName":"성북구 숙소","keywords":["성북구 숙소","성북구호텔", "성북구게스트하우스"]},
                     {"groupName":"송파구 숙소","keywords":["송파구 숙소","송파구호텔", "송파구게스트하우스"]},
                     {"groupName":"양천구 숙소","keywords":["양천구 숙소","양천구호텔", "양천구게스트하우스"]},
                     {"groupName":"영등포구 숙소","keywords":["영등포구 숙소","영등포구호텔", "영등포구게스트하우스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [30]:
df15 = pd.DataFrame(json_obj['results'][0]['data'])
df15.columns = ['기간', '성동구 숙소']
df15 = df15.drop(['기간'], axis=1)

df16 = pd.DataFrame(json_obj['results'][1]['data'])
df16.columns = ['기간', '성북구 숙소']
df16 = df16.drop(['기간'], axis=1)

df17 = pd.DataFrame(json_obj['results'][2]['data'])
df17.columns = ['기간', '송파구 숙소']
df17 = df17.drop(['기간'], axis=1)

df18 = pd.DataFrame(json_obj['results'][3]['data'])
df18.columns = ['기간', '양천구 숙소']
df18 = df18.drop(['기간'], axis=1)

df19 = pd.DataFrame(json_obj['results'][4]['data'])
df19.columns = ['기간', '영등포구 숙소']
df19 = df19.drop(['기간'], axis=1)

df = pd.concat([df, df15,df16,df17,df18,df19], axis=1, join='outer')


df.head(10)

,기간,강남구 숙소,강동구 숙소,강북구 숙소,강서구 숙소,관악구 숙소,광진구 숙소,구로구 숙소,금천구 숙소,노원구 숙소,...,동대문구 숙소,동작구 숙소,마포구 숙소,서대문구 숙소,서초구 숙소,성동구 숙소,성북구 숙소,송파구 숙소,양천구 숙소,영등포구 숙소
0,2017-01-01,12.26685,10.80822,0.98039,41.53515,3.77809,32.26324,10.52969,2.40770,8.15409,...,3.97111,4.85976,18.07831,4.85976,16.52318,1.16663,6.25108,22.47954,1.89796,0.64426
1,2017-02-01,12.24294,9.42132,0.83692,41.72644,4.04112,34.44622,8.41091,3.37078,8.28250,...,3.94334,4.30435,20.66092,8.21993,20.16106,1.14922,7.10430,22.98450,1.60195,1.04475
2,2017-03-01,11.90817,8.63223,1.29124,41.60688,2.72596,32.77688,8.34670,3.94863,10.27287,...,2.33268,2.13829,17.32851,5.66509,14.41266,0.62685,3.69145,14.31307,0.88803,1.07957
3,2017-04-01,12.02773,8.01052,1.50645,39.26351,2.17599,36.05136,5.68218,4.10914,7.76886,...,2.30491,3.33240,19.52235,5.35962,14.02388,0.64426,3.62180,21.06912,1.00992,1.75866
4,2017-05-01,13.22333,8.39311,0.86083,44.78718,2.00860,40.19261,7.06260,2.88924,7.83306,...,2.99916,4.24881,24.27103,3.91557,15.13468,0.59202,3.91781,20.26815,0.45272,0.87062
5,2017-06-01,14.82544,10.54519,2.08034,43.28072,4.20851,42.08667,8.89245,5.04012,10.11235,...,5.35962,4.77645,24.07664,3.44348,18.74479,1.65418,5.95507,20.58157,1.34076,1.09698
6,2017-07-01,14.92109,13.48637,2.46293,62.38641,5.45193,50.20866,14.31781,5.29695,9.88764,...,3.11024,5.08192,25.04859,8.80311,26.46487,2.14173,5.01480,32.43949,1.79348,1.23628
7,2017-08-01,17.19273,14.87326,1.69775,57.10186,5.33237,48.86035,18.13804,6.16372,10.27287,...,4.41544,7.27575,24.52096,9.38628,32.12996,1.49747,5.71130,26.62371,1.63677,1.88055
8,2017-09-01,12.52989,10.04304,1.17168,46.15016,4.99760,45.23274,11.65329,4.23756,10.24077,...,4.97084,5.99833,31.68564,8.88642,18.80033,1.32335,8.16646,21.88751,1.75866,1.63677
9,2017-10-01,18.69918,12.88857,2.27164,47.63271,5.54758,47.67255,24.81540,4.20545,13.77207,...,7.02582,8.05331,26.21494,10.33046,23.46570,2.80341,11.82308,26.01427,2.33327,1.75866

In [31]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"용산구 숙소","keywords":["용산구 숙소","용산구호텔", "용산구게스트하우스"]},
                     {"groupName":"은평구 숙소","keywords":["은평구 숙소","은평구호텔", "은평구게스트하우스"]},
                     {"groupName":"종로구 숙소","keywords":["종로구 숙소","종로구호텔", "종로구게스트하우스"]},
                     {"groupName":"중구 숙소","keywords":["중구 숙소","중구호텔", "중구게스트하우스"]},
                     {"groupName":"중량구 숙소","keywords":["중량구 숙소","중량구호텔", "중량구게스트하우스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [32]:
df20 = pd.DataFrame(json_obj['results'][0]['data'])
df20.columns = ['기간', '용산구 숙소']
df20 = df20.drop(['기간'], axis=1)

df21 = pd.DataFrame(json_obj['results'][1]['data'])
df21.columns = ['기간', '은평구 숙소']
df21 = df21.drop(['기간'], axis=1)

df22 = pd.DataFrame(json_obj['results'][2]['data'])
df22.columns = ['기간', '종로구 숙소']
df22 = df22.drop(['기간'], axis=1)

df23 = pd.DataFrame(json_obj['results'][3]['data'])
df23.columns = ['기간', '중구 숙소']
df23 = df23.drop(['기간'], axis=1)

df24 = pd.DataFrame(json_obj['results'][4]['data'])
df24.columns = ['기간', '중량구 숙소']
df24 = df24.drop(['기간'], axis=1)

df = pd.concat([df, df20,df21,df22,df23,df24], axis=1, join='outer')


df.head(10)

,기간,강남구 숙소,강동구 숙소,강북구 숙소,강서구 숙소,관악구 숙소,광진구 숙소,구로구 숙소,금천구 숙소,노원구 숙소,...,성동구 숙소,성북구 숙소,송파구 숙소,양천구 숙소,영등포구 숙소,용산구 숙소,은평구 숙소,종로구 숙소,중구 숙소,중량구 숙소
0,2017-01-01,12.26685,10.80822,0.98039,41.53515,3.77809,32.26324,10.52969,2.40770,8.15409,...,1.16663,6.25108,22.47954,1.89796,0.64426,1.35370,2.34409,3.21505,2.96123,0.02488
1,2017-02-01,12.24294,9.42132,0.83692,41.72644,4.04112,34.44622,8.41091,3.37078,8.28250,...,1.14922,7.10430,22.98450,1.60195,1.04475,1.22928,1.83646,3.40914,2.31921,0.02488
2,2017-03-01,11.90817,8.63223,1.29124,41.60688,2.72596,32.77688,8.34670,3.94863,10.27287,...,0.62685,3.69145,14.31307,0.88803,1.07957,1.25416,1.69213,2.36898,2.43866,0.02986
3,2017-04-01,12.02773,8.01052,1.50645,39.26351,2.17599,36.05136,5.68218,4.10914,7.76886,...,0.64426,3.62180,21.06912,1.00992,1.75866,1.10983,1.95590,3.55347,2.51828,0.05972
4,2017-05-01,13.22333,8.39311,0.86083,44.78718,2.00860,40.19261,7.06260,2.88924,7.83306,...,0.59202,3.91781,20.26815,0.45272,0.87062,1.42338,1.72199,2.43866,2.28437,0.02488
5,2017-06-01,14.82544,10.54519,2.08034,43.28072,4.20851,42.08667,8.89245,5.04012,10.11235,...,1.65418,5.95507,20.58157,1.34076,1.09698,1.68217,2.45856,2.94629,2.48842,0.02488
6,2017-07-01,14.92109,13.48637,2.46293,62.38641,5.45193,50.20866,14.31781,5.29695,9.88764,...,2.14173,5.01480,32.43949,1.79348,1.23628,2.38391,2.89653,3.77743,3.44398,NaN
7,2017-08-01,17.19273,14.87326,1.69775,57.10186,5.33237,48.86035,18.13804,6.16372,10.27287,...,1.49747,5.71130,26.62371,1.63677,1.88055,2.02060,2.39884,4.23530,3.42905,NaN
8,2017-09-01,12.52989,10.04304,1.17168,46.15016,4.99760,45.23274,11.65329,4.23756,10.24077,...,1.32335,8.16646,21.88751,1.75866,1.63677,2.17986,2.45359,4.51898,3.13542,NaN
9,2017-10-01,18.69918,12.88857,2.27164,47.63271,5.54758,47.67255,24.81540,4.20545,13.77207,...,2.80341,11.82308,26.01427,2.33327,1.75866,2.52824,2.53819,4.91713,3.12546,NaN

In [33]:
df.to_csv('C:/Users/Public/naver_domitory.csv', encoding='utf8')