# - 네이버 데이터랩을 활용한 구 별 각 키워드 검색량 3년 Data Crawling

#### * 구글 트렌드와 똑같이 네이버 데이터랩 역시 한 번에 5개의 키워드 밖에 검색하지 못 해 코드를 반복해서 사용함

In [1]:
import urllib.request
import json
import os
import sys
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
client_id = "03UuFs5fkXeFbYR0uTXT"
client_secret = "_b3QvBuvKQ"
url = "https://openapi.naver.com/v1/datalab/search";

## #맛집 키워드로 검색량 분석

In [33]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"강남구 맛집","keywords":["강남구 맛집"]},
                     {"groupName":"강동구 맛집","keywords":["강동구 맛집"]},
                     {"groupName":"강북구 맛집","keywords":["강북구 맛집"]},
                     {"groupName":"강서구 맛집","keywords":["강서구 맛집"]},
                     {"groupName":"관악구 맛집","keywords":["관악구 맛집"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [34]:
df0 = pd.DataFrame(json_obj['results'][0]['data'])
df0.columns = ['기간', '강남구 맛집']
df0.set_index('기간')

df1 = pd.DataFrame(json_obj['results'][1]['data'])
df1.columns = ['기간', '강동구 맛집']
df1 = df1.drop(['기간'], axis=1)

df2 = pd.DataFrame(json_obj['results'][2]['data'])
df2.columns = ['기간', '강북구 맛집']
df2 = df2.drop(['기간'], axis=1)

df3 = pd.DataFrame(json_obj['results'][3]['data'])
df3.columns = ['기간', '강서구 맛집']
df3 = df3.drop(['기간'], axis=1)

df4 = pd.DataFrame(json_obj['results'][4]['data'])
df4.columns = ['기간', '관악구 맛집']
df4 = df4.drop(['기간'], axis=1)

df = pd.concat([df0,df1,df2,df3,df4], axis=1, join='outer')

df.head(10)

           기간   강남구 맛집    강동구 맛집    강북구 맛집    강서구 맛집    관악구 맛집
0  2017-01-01  3.84134  39.95778   9.19923  55.09540   9.94361
1  2017-02-01  3.83301  41.73541   9.26033  96.37807  10.82965
2  2017-03-01  3.73579  51.49293   9.73807  93.96439  10.29636
3  2017-04-01  3.65525  49.34033   9.54642  63.60303   9.59364
4  2017-05-01  4.04132  61.68097  11.74624  62.91142  12.45451
5  2017-06-01  3.49137  55.87589   9.32422  65.59175  15.08207
6  2017-07-01  4.38852  70.06360  14.97097  88.03988  19.14562
7  2017-08-01  4.58850  83.59303  17.66241  88.81204  38.84954
8  2017-09-01  3.87189  63.20306  13.82107  76.09921  15.71535
9  2017-10-01  4.30519  59.01730  11.35183  70.05527  18.42624

In [35]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"광진구 맛집","keywords":["광진구 맛집"]},
                     {"groupName":"구로구 맛집","keywords":["구로구 맛집"]},
                     {"groupName":"금천구 맛집","keywords":["금천구 맛집"]},
                     {"groupName":"노원구 맛집","keywords":["노원구 맛집"]},
                     {"groupName":"도봉구 맛집","keywords":["도봉구 맛집"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [36]:
df5 = pd.DataFrame(json_obj['results'][0]['data'])
df5.columns = ['기간', '광진구 맛집']
df5 = df5.drop(['기간'], axis=1)

df6 = pd.DataFrame(json_obj['results'][1]['data'])
df6.columns = ['기간', '구로구 맛집']
df6 = df6.drop(['기간'], axis=1)

df7 = pd.DataFrame(json_obj['results'][2]['data'])
df7.columns = ['기간', '금천구 맛집']
df7 = df7.drop(['기간'], axis=1)

df8 = pd.DataFrame(json_obj['results'][3]['data'])
df8.columns = ['기간', '노원구 맛집']
df8 = df8.drop(['기간'], axis=1)

df9 = pd.DataFrame(json_obj['results'][4]['data'])
df9.columns = ['기간', '도봉구 맛집']
df9 = df9.drop(['기간'], axis=1)

df = pd.concat([df, df5,df6,df7,df8,df9], axis=1, join='outer')


df.head(10)

,기간,강남구 맛집,강동구 맛집,강북구 맛집,강서구 맛집,관악구 맛집,광진구 맛집,구로구 맛집,금천구 맛집,노원구 맛집,도봉구 맛집
0,2017-01-01,3.84134,39.95778,9.19923,55.09540,9.94361,46.92695,14.29881,75.86859,39.10102,34.80678
1,2017-02-01,3.83301,41.73541,9.26033,96.37807,10.82965,69.44731,14.41348,42.75885,41.14780,40.43687
2,2017-03-01,3.73579,51.49293,9.73807,93.96439,10.29636,59.92432,12.77949,26.92351,39.14688,36.82490
3,2017-04-01,3.65525,49.34033,9.54642,63.60303,9.59364,66.99346,11.67297,25.41566,37.66769,41.16500
4,2017-05-01,4.04132,61.68097,11.74624,62.91142,12.45451,70.63983,13.79428,33.76906,46.22176,57.32714
5,2017-06-01,3.49137,55.87589,9.32422,65.59175,15.08207,53.49157,13.32989,26.96938,38.75128,53.38263
6,2017-07-01,4.38852,70.06360,14.97097,88.03988,19.14562,59.83258,14.51668,29.61816,45.00630,51.46772
7,2017-08-01,4.58850,83.59303,17.66241,88.81204,38.84954,79.53216,15.90987,33.27600,47.62068,95.60830
8,2017-09-01,3.87189,63.20306,13.82107,76.09921,15.71535,50.67079,11.49524,23.19688,35.34571,100.00000
9,2017-10-01,4.30519,59.01730,11.35183,70.05527,18.42624,55.03382,11.00217,24.65313,38.20662,79.82456

In [37]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"동대문구 맛집","keywords":["동대문구 맛집"]},
                     {"groupName":"동작구 맛집","keywords":["동작구 맛집"]},
                     {"groupName":"마포구 맛집","keywords":["마포구 맛집"]},
                     {"groupName":"서대문구 맛집","keywords":["서대문구 맛집"]},
                     {"groupName":"서초구 맛집","keywords":["서초구 맛집"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [38]:
df10 = pd.DataFrame(json_obj['results'][0]['data'])
df10.columns = ['기간', '동대문구 맛집']
df10 = df10.drop(['기간'], axis=1)

df11 = pd.DataFrame(json_obj['results'][1]['data'])
df11.columns = ['기간', '동작구 맛집']
df11 = df11.drop(['기간'], axis=1)

df12 = pd.DataFrame(json_obj['results'][2]['data'])
df12.columns = ['기간', '마포구 맛집']
df12 = df12.drop(['기간'], axis=1)

df13 = pd.DataFrame(json_obj['results'][3]['data'])
df13.columns = ['기간', '서대문구 맛집']
df13 = df13.drop(['기간'], axis=1)

df14 = pd.DataFrame(json_obj['results'][4]['data'])
df14.columns = ['기간', '서초구 맛집']
df14 = df14.drop(['기간'], axis=1)

df = pd.concat([df, df10,df11,df12,df13,df14], axis=1, join='outer')


df.head(10)

,기간,강남구 맛집,강동구 맛집,강북구 맛집,강서구 맛집,관악구 맛집,광진구 맛집,구로구 맛집,금천구 맛집,노원구 맛집,도봉구 맛집,동대문구 맛집,동작구 맛집,마포구 맛집,서대문구 맛집,서초구 맛집
0,2017-01-01,3.84134,39.95778,9.19923,55.09540,9.94361,46.92695,14.29881,75.86859,39.10102,34.80678,20.81244,19.37359,21.00864,17.98561,18.00014
1,2017-02-01,3.83301,41.73541,9.26033,96.37807,10.82965,69.44731,14.41348,42.75885,41.14780,40.43687,23.65380,20.15841,21.24118,18.29082,17.68766
2,2017-03-01,3.73579,51.49293,9.73807,93.96439,10.29636,59.92432,12.77949,26.92351,39.14688,36.82490,20.22382,18.50882,20.02761,16.93917,14.57016
3,2017-04-01,3.65525,49.34033,9.54642,63.60303,9.59364,66.99346,11.67297,25.41566,37.66769,41.16500,19.16285,16.74296,26.04461,16.61216,12.04854
4,2017-05-01,4.04132,61.68097,11.74624,62.91142,12.45451,70.63983,13.79428,33.76906,46.22176,57.32714,33.09352,18.76317,27.17825,19.51893,15.56572
5,2017-06-01,3.49137,55.87589,9.32422,65.59175,15.08207,53.49157,13.32989,26.96938,38.75128,53.38263,32.50490,18.29082,39.24860,19.85320,13.97427
6,2017-07-01,4.38852,70.06360,14.97097,88.03988,19.14562,59.83258,14.51668,29.61816,45.00630,51.46772,25.02725,21.38652,35.17912,35.68781,18.10914
7,2017-08-01,4.58850,83.59303,17.66241,88.81204,38.84954,79.53216,15.90987,33.27600,47.62068,95.60830,43.39074,18.64690,35.11372,100.00000,24.69297
8,2017-09-01,3.87189,63.20306,13.82107,76.09921,15.71535,50.67079,11.49524,23.19688,35.34571,100.00000,26.03735,15.09337,24.04621,24.62757,17.21531
9,2017-10-01,4.30519,59.01730,11.35183,70.05527,18.42624,55.03382,11.00217,24.65313,38.20662,79.82456,21.73533,15.74013,32.19242,17.48419,17.61499

In [39]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"성동구 맛집","keywords":["성동구 맛집"]},
                     {"groupName":"성북구 맛집","keywords":["성북구 맛집"]},
                     {"groupName":"송파구 맛집","keywords":["송파구 맛집"]},
                     {"groupName":"양천구 맛집","keywords":["양천구 맛집"]},
                     {"groupName":"영등포구 맛집","keywords":["영등포구 맛집"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [40]:
df15 = pd.DataFrame(json_obj['results'][0]['data'])
df15.columns = ['기간', '성동구 맛집']
df15 = df15.drop(['기간'], axis=1)

df16 = pd.DataFrame(json_obj['results'][1]['data'])
df16.columns = ['기간', '성북구 맛집']
df16 = df16.drop(['기간'], axis=1)

df17 = pd.DataFrame(json_obj['results'][2]['data'])
df17.columns = ['기간', '송파구 맛집']
df17 = df17.drop(['기간'], axis=1)

df18 = pd.DataFrame(json_obj['results'][3]['data'])
df18.columns = ['기간', '양천구 맛집']
df18 = df18.drop(['기간'], axis=1)

df19 = pd.DataFrame(json_obj['results'][4]['data'])
df19.columns = ['기간', '영등포구 맛집']
df19 = df19.drop(['기간'], axis=1)

df = pd.concat([df, df15,df16,df17,df18,df19], axis=1, join='outer')


df.head(10)

,기간,강남구 맛집,강동구 맛집,강북구 맛집,강서구 맛집,관악구 맛집,광진구 맛집,구로구 맛집,금천구 맛집,노원구 맛집,...,동대문구 맛집,동작구 맛집,마포구 맛집,서대문구 맛집,서초구 맛집,성동구 맛집,성북구 맛집,송파구 맛집,양천구 맛집,영등포구 맛집
0,2017-01-01,3.84134,39.95778,9.19923,55.09540,9.94361,46.92695,14.29881,75.86859,39.10102,...,20.81244,19.37359,21.00864,17.98561,18.00014,17.18462,37.71293,62.89134,29.69037,3.87315
1,2017-02-01,3.83301,41.73541,9.26033,96.37807,10.82965,69.44731,14.41348,42.75885,41.14780,...,23.65380,20.15841,21.24118,18.29082,17.68766,16.85658,36.91873,71.59300,35.12315,5.21984
2,2017-03-01,3.73579,51.49293,9.73807,93.96439,10.29636,59.92432,12.77949,26.92351,39.14688,...,20.22382,18.50882,20.02761,16.93917,14.57016,17.99608,35.04834,67.74286,33.60957,5.29465
3,2017-04-01,3.65525,49.34033,9.54642,63.60303,9.59364,66.99346,11.67297,25.41566,37.66769,...,19.16285,16.74296,26.04461,16.61216,12.04854,23.06629,31.90032,75.97836,25.12085,4.01127
4,2017-05-01,4.04132,61.68097,11.74624,62.91142,12.45451,70.63983,13.79428,33.76906,46.22176,...,33.09352,18.76317,27.17825,19.51893,15.56572,20.92541,37.80501,78.23434,29.59254,37.90285
5,2017-06-01,3.49137,55.87589,9.32422,65.59175,15.08207,53.49157,13.32989,26.96938,38.75128,...,32.50490,18.29082,39.24860,19.85320,13.97427,18.00184,32.46431,71.41459,24.94820,25.66758
6,2017-07-01,4.38852,70.06360,14.97097,88.03988,19.14562,59.83258,14.51668,29.61816,45.00630,...,25.02725,21.38652,35.17912,35.68781,18.10914,20.68370,36.72882,81.41689,38.95027,6.62983
7,2017-08-01,4.58850,83.59303,17.66241,88.81204,38.84954,79.53216,15.90987,33.27600,47.62068,...,43.39074,18.64690,35.11372,100.00000,24.69297,21.96132,40.65953,93.37016,94.59023,5.66873
8,2017-09-01,3.87189,63.20306,13.82107,76.09921,15.71535,50.67079,11.49524,23.19688,35.34571,...,26.03735,15.09337,24.04621,24.62757,17.21531,16.91988,34.32895,81.42265,34.80087,4.28176
9,2017-10-01,4.30519,59.01730,11.35183,70.05527,18.42624,55.03382,11.00217,24.65313,38.20662,...,21.73533,15.74013,32.19242,17.48419,17.61499,17.24217,33.69014,79.42564,31.49746,4.58103

In [41]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"용산구 맛집","keywords":["용산구 맛집"]},
                     {"groupName":"은평구 맛집","keywords":["은평구 맛집"]},
                     {"groupName":"종로구 맛집","keywords":["종로구 맛집"]},
                     {"groupName":"중구 맛집","keywords":["중구 맛집"]},
                     {"groupName":"중량구 맛집","keywords":["중량구 맛집"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [42]:
df20 = pd.DataFrame(json_obj['results'][0]['data'])
df20.columns = ['기간', '용산구 맛집']
df20 = df20.drop(['기간'], axis=1)

df21 = pd.DataFrame(json_obj['results'][1]['data'])
df21.columns = ['기간', '은평구 맛집']
df21 = df21.drop(['기간'], axis=1)

df22 = pd.DataFrame(json_obj['results'][2]['data'])
df22.columns = ['기간', '종로구 맛집']
df22 = df22.drop(['기간'], axis=1)

df23 = pd.DataFrame(json_obj['results'][3]['data'])
df23.columns = ['기간', '중구 맛집']
df23 = df23.drop(['기간'], axis=1)

df24 = pd.DataFrame(json_obj['results'][4]['data'])
df24.columns = ['기간', '중량구 맛집']
df24 = df24.drop(['기간'], axis=1)

df = pd.concat([df, df20,df21,df22,df23,df24], axis=1, join='outer')


df.head(10)

,기간,강남구 맛집,강동구 맛집,강북구 맛집,강서구 맛집,관악구 맛집,광진구 맛집,구로구 맛집,금천구 맛집,노원구 맛집,...,성동구 맛집,성북구 맛집,송파구 맛집,양천구 맛집,영등포구 맛집,용산구 맛집,은평구 맛집,종로구 맛집,중구 맛집,중량구 맛집
0,2017-01-01,3.84134,39.95778,9.19923,55.09540,9.94361,46.92695,14.29881,75.86859,39.10102,...,17.18462,37.71293,62.89134,29.69037,3.87315,5.97411,60.70129,6.96378,5.46944,0.35720
1,2017-02-01,3.83301,41.73541,9.26033,96.37807,10.82965,69.44731,14.41348,42.75885,41.14780,...,16.85658,36.91873,71.59300,35.12315,5.21984,6.83270,52.54792,9.65099,5.97411,0.27855
2,2017-03-01,3.73579,51.49293,9.73807,93.96439,10.29636,59.92432,12.77949,26.92351,39.14688,...,17.99608,35.04834,67.74286,33.60957,5.29465,5.68245,57.82074,5.58413,6.01343,0.30804
3,2017-04-01,3.65525,49.34033,9.54642,63.60303,9.59364,66.99346,11.67297,25.41566,37.66769,...,23.06629,31.90032,75.97836,25.12085,4.01127,4.75503,50.08356,5.67589,6.11174,0.22284
4,2017-05-01,4.04132,61.68097,11.74624,62.91142,12.45451,70.63983,13.79428,33.76906,46.22176,...,20.92541,37.80501,78.23434,29.59254,37.90285,8.34999,62.15631,6.62297,6.26904,0.37358
5,2017-06-01,3.49137,55.87589,9.32422,65.59175,15.08207,53.49157,13.32989,26.96938,38.75128,...,18.00184,32.46431,71.41459,24.94820,25.66758,7.47501,54.52728,9.48386,7.16368,0.11797
6,2017-07-01,4.38852,70.06360,14.97097,88.03988,19.14562,59.83258,14.51668,29.61816,45.00630,...,20.68370,36.72882,81.41689,38.95027,6.62983,7.90103,61.69097,19.98689,7.65852,0.19990
7,2017-08-01,4.58850,83.59303,17.66241,88.81204,38.84954,79.53216,15.90987,33.27600,47.62068,...,21.96132,40.65953,93.37016,94.59023,5.66873,50.79796,76.94576,39.54448,7.25872,0.14091
8,2017-09-01,3.87189,63.20306,13.82107,76.09921,15.71535,50.67079,11.49524,23.19688,35.34571,...,16.91988,34.32895,81.42265,34.80087,4.28176,17.47992,61.56316,9.03490,6.79665,0.10158
9,2017-10-01,4.30519,59.01730,11.35183,70.05527,18.42624,55.03382,11.00217,24.65313,38.20662,...,17.24217,33.69014,79.42564,31.49746,4.58103,5.11551,53.98656,17.62739,6.46894,0.20317

In [43]:
df.to_csv('C:/Users/Public/naver_food.csv', encoding='utf8')