# - 네이버 데이터랩을 활용한 구 별 각 키워드 검색량 3년 Data Crawling

#### * 구글 트렌드와 똑같이 네이버 데이터랩 역시 한 번에 5개의 키워드 밖에 검색하지 못 해 코드를 반복해서 사용함

In [1]:
import urllib.request
import json
import os
import sys
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
client_id = "03UuFs5fkXeFbYR0uTXT"
client_secret = "_b3QvBuvKQ"
url = "https://openapi.naver.com/v1/datalab/search";

## #관광 키워드로 검색량 분석

In [3]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"강남구 관광","keywords":["강남구 관광","강남구가볼만한곳", "강남구유적지","강남구관광지"]},
                     {"groupName":"강동구 관광","keywords":["강동구 관광", "강동구가볼만한곳", "강북구유적지","강북구관광지"]},
                     {"groupName":"강북구 관광","keywords":["강북구 관광", "강북구가볼만한곳", "강동구유적지","강동구관광지"]},
                     {"groupName":"강서구 관광","keywords":["강서구 관광", "강서구가볼만한곳", "강서구유적지","강서구관광지"]},
                     {"groupName":"관악구 관광","keywords":["관악구 관광", "관악구가볼만한곳", "관악구유적지","관악구관광지"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [4]:
df0 = pd.DataFrame(json_obj['results'][0]['data'])
df0.columns = ['기간', '강남구 관광']
df0.set_index('기간')

df1 = pd.DataFrame(json_obj['results'][1]['data'])
df1.columns = ['기간', '강동구 관광']
df1 = df1.drop(['기간'], axis=1)

df2 = pd.DataFrame(json_obj['results'][2]['data'])
df2.columns = ['기간', '강북구 관광']
df2 = df2.drop(['기간'], axis=1)

df3 = pd.DataFrame(json_obj['results'][3]['data'])
df3.columns = ['기간', '강서구 관광']
df3 = df3.drop(['기간'], axis=1)

df4 = pd.DataFrame(json_obj['results'][4]['data'])
df4.columns = ['기간', '관악구 관광']
df4 = df4.drop(['기간'], axis=1)

df = pd.concat([df0,df1,df2,df3,df4], axis=1, join='outer')

df.head(10)

           기간   강남구 관광    강동구 관광    강북구 관광    강서구 관광    관악구 관광
0  2017-01-01  2.03168  17.49311   4.57988  25.30991   5.85399
1  2017-02-01  5.16528  30.44077   4.95867  15.70247   3.54683
2  2017-03-01  3.13360  73.51928   6.37052   9.05647   5.26859
3  2017-04-01  2.68595  62.60330   6.95592   5.09641   5.47520
4  2017-05-01  3.78787  70.59228  20.73002   6.23278   9.05647
5  2017-06-01  3.47796  51.48071  21.69421   3.82231   6.68044
6  2017-07-01  3.09917  37.25895  11.63911   2.89256   8.36776
7  2017-08-01  8.09228  69.28374  20.42011   5.78512  14.32506
8  2017-09-01  3.78787  38.25757  10.08953   5.75068   7.67906
9  2017-10-01  3.92561  54.64876  17.83746   8.12672   8.02341

In [5]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"광진구 관광","keywords":["광진구 관광","광진구가볼만한곳", "광진구유적지","광진구관광지"]},
                     {"groupName":"강동구 관광","keywords":["구로구 관광", "구로구가볼만한곳", "구로구유적지","구로구관광지"]},
                     {"groupName":"금천구 관광","keywords":["금천구 관광", "금천구가볼만한곳", "금천구유적지","금천구관광지"]},
                     {"groupName":"노원구 관광","keywords":["노원구 관광", "노원구가볼만한곳", "노원구유적지","노원구관광지"]},
                     {"groupName":"도봉구 관광","keywords":["도봉구 관광", "도봉구가볼만한곳", "도봉구유적지","도봉구관광지"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [6]:
df5 = pd.DataFrame(json_obj['results'][0]['data'])
df5.columns = ['기간', '광진구 관광']
df5 = df5.drop(['기간'], axis=1)

df6 = pd.DataFrame(json_obj['results'][1]['data'])
df6.columns = ['기간', '구로구 관광']
df6 = df6.drop(['기간'], axis=1)

df7 = pd.DataFrame(json_obj['results'][2]['data'])
df7.columns = ['기간', '금천구 관광']
df7 = df7.drop(['기간'], axis=1)

df8 = pd.DataFrame(json_obj['results'][3]['data'])
df8.columns = ['기간', '노원구 관광']
df8 = df8.drop(['기간'], axis=1)

df9 = pd.DataFrame(json_obj['results'][4]['data'])
df9.columns = ['기간', '도봉구 관광']
df9 = df9.drop(['기간'], axis=1)

df = pd.concat([df, df5,df6,df7,df8,df9], axis=1, join='outer')


df.head(10)

,기간,강남구 관광,강동구 관광,강북구 관광,강서구 관광,관악구 관광,광진구 관광,구로구 관광,금천구 관광,노원구 관광,도봉구 관광
0,2017-01-01,2.03168,17.49311,4.57988,25.30991,5.85399,3.82585,3.07827,2.90237,22.91116,12.48900
1,2017-02-01,5.16528,30.44077,4.95867,15.70247,3.54683,7.69569,5.14511,5.14511,40.94107,8.70712
2,2017-03-01,3.13360,73.51928,6.37052,9.05647,5.26859,20.22867,4.26561,4.70536,63.14863,12.04925
3,2017-04-01,2.68595,62.60330,6.95592,5.09641,5.47520,42.04045,6.94810,4.08970,66.00703,19.26121
4,2017-05-01,3.78787,70.59228,20.73002,6.23278,9.05647,45.03078,6.42040,7.12401,92.26033,60.94986
5,2017-06-01,3.47796,51.48071,21.69421,3.82231,6.68044,21.63588,7.87159,5.36499,70.93227,43.22779
6,2017-07-01,3.09917,37.25895,11.63911,2.89256,8.36776,16.09498,6.77220,4.17766,46.96569,28.67194
7,2017-08-01,8.09228,69.28374,20.42011,5.78512,14.32506,45.03078,7.38786,7.51978,85.04837,37.77484
8,2017-09-01,3.78787,38.25757,10.08953,5.75068,7.67906,15.34740,6.50835,6.55233,47.62532,26.20932
9,2017-10-01,3.92561,54.64876,17.83746,8.12672,8.02341,13.76429,7.65171,8.70712,100.00000,61.25769

In [7]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"동대문구 관광","keywords":["동대문구 관광","동대문구가볼만한곳", "동대문구유적지","동대문구관광지"]},
                     {"groupName":"동작구 관광","keywords":["동작구 관광", "동작구가볼만한곳", "동작구유적지","동작구관광지"]},
                     {"groupName":"마포구 관광","keywords":["마포구 관광", "마포구가볼만한곳", "마포구유적지","마포구관광지"]},
                     {"groupName":"서대문구 관광","keywords":["서대문구 관광", "서대문구가볼만한곳", "서대문구유적지","서대문구관광지"]},
                     {"groupName":"서초구 관광","keywords":["서초구 관광", "서초구가볼만한곳", "서초구유적지","서초구관광지"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [8]:
df10 = pd.DataFrame(json_obj['results'][0]['data'])
df10.columns = ['기간', '동대문구 관광']
df10 = df10.drop(['기간'], axis=1)

df11 = pd.DataFrame(json_obj['results'][1]['data'])
df11.columns = ['기간', '동작구 관광']
df11 = df11.drop(['기간'], axis=1)

df12 = pd.DataFrame(json_obj['results'][2]['data'])
df12.columns = ['기간', '마포구 관광']
df12 = df12.drop(['기간'], axis=1)

df13 = pd.DataFrame(json_obj['results'][3]['data'])
df13.columns = ['기간', '서대문구 관광']
df13 = df13.drop(['기간'], axis=1)

df14 = pd.DataFrame(json_obj['results'][4]['data'])
df14.columns = ['기간', '서초구 관광']
df14 = df14.drop(['기간'], axis=1)

df = pd.concat([df, df10,df11,df12,df13,df14], axis=1, join='outer')


df.head(10)

,기간,강남구 관광,강동구 관광,강북구 관광,강서구 관광,관악구 관광,광진구 관광,구로구 관광,금천구 관광,노원구 관광,도봉구 관광,동대문구 관광,동작구 관광,마포구 관광,서대문구 관광,서초구 관광
0,2017-01-01,2.03168,17.49311,4.57988,25.30991,5.85399,3.82585,3.07827,2.90237,22.91116,12.48900,2.11161,1.65912,17.72247,8.59728,22.09653
1,2017-02-01,5.16528,30.44077,4.95867,15.70247,3.54683,7.69569,5.14511,5.14511,40.94107,8.70712,3.84615,3.01659,17.19457,51.58371,90.87481
2,2017-03-01,3.13360,73.51928,6.37052,9.05647,5.26859,20.22867,4.26561,4.70536,63.14863,12.04925,6.63650,3.92156,15.98793,31.74962,68.17496
3,2017-04-01,2.68595,62.60330,6.95592,5.09641,5.47520,42.04045,6.94810,4.08970,66.00703,19.26121,5.05279,4.90196,12.29260,35.21870,83.55957
4,2017-05-01,3.78787,70.59228,20.73002,6.23278,9.05647,45.03078,6.42040,7.12401,92.26033,60.94986,9.35143,8.06938,24.13273,61.16138,84.91704
5,2017-06-01,3.47796,51.48071,21.69421,3.82231,6.68044,21.63588,7.87159,5.36499,70.93227,43.22779,7.69230,5.12820,31.37254,43.96681,40.72398
6,2017-07-01,3.09917,37.25895,11.63911,2.89256,8.36776,16.09498,6.77220,4.17766,46.96569,28.67194,6.10859,1.73453,40.34690,35.89743,46.83257
7,2017-08-01,8.09228,69.28374,20.42011,5.78512,14.32506,45.03078,7.38786,7.51978,85.04837,37.77484,9.35143,6.78733,76.62141,45.02262,60.48265
8,2017-09-01,3.78787,38.25757,10.08953,5.75068,7.67906,15.34740,6.50835,6.55233,47.62532,26.20932,6.93815,4.82654,34.99245,22.17194,35.29411
9,2017-10-01,3.92561,54.64876,17.83746,8.12672,8.02341,13.76429,7.65171,8.70712,100.00000,61.25769,12.66968,7.76772,100.00000,34.61538,82.57918

In [9]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"성동구 관광","keywords":["성동구 관광","성동구가볼만한곳", "성동구유적지","성동구관광지"]},
                     {"groupName":"성북구 관광","keywords":["성북구 관광", "성북구가볼만한곳", "성북구유적지","성북구관광지"]},
                     {"groupName":"송파구 관광","keywords":["송파구 관광", "송파구가볼만한곳", "송파구유적지","송파구관광지"]},
                     {"groupName":"양천구 관광","keywords":["양천구 관광", "양천구가볼만한곳", "양천구유적지","양천구관광지"]},
                     {"groupName":"영등포구 관광","keywords":["영등포구 관광", "영등포구가볼만한곳", "영등포구유적지","영등포구관광지"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [10]:
df15 = pd.DataFrame(json_obj['results'][0]['data'])
df15.columns = ['기간', '성동구 관광']
df15 = df15.drop(['기간'], axis=1)

df16 = pd.DataFrame(json_obj['results'][1]['data'])
df16.columns = ['기간', '성북구 관광']
df16 = df16.drop(['기간'], axis=1)

df17 = pd.DataFrame(json_obj['results'][2]['data'])
df17.columns = ['기간', '송파구 관광']
df17 = df17.drop(['기간'], axis=1)

df18 = pd.DataFrame(json_obj['results'][3]['data'])
df18.columns = ['기간', '양천구 관광']
df18 = df18.drop(['기간'], axis=1)

df19 = pd.DataFrame(json_obj['results'][4]['data'])
df19.columns = ['기간', '영등포구 관광']
df19 = df19.drop(['기간'], axis=1)

df = pd.concat([df, df15,df16,df17,df18,df19], axis=1, join='outer')


df.head(10)

,기간,강남구 관광,강동구 관광,강북구 관광,강서구 관광,관악구 관광,광진구 관광,구로구 관광,금천구 관광,노원구 관광,...,동대문구 관광,동작구 관광,마포구 관광,서대문구 관광,서초구 관광,성동구 관광,성북구 관광,송파구 관광,양천구 관광,영등포구 관광
0,2017-01-01,2.03168,17.49311,4.57988,25.30991,5.85399,3.82585,3.07827,2.90237,22.91116,...,2.11161,1.65912,17.72247,8.59728,22.09653,1.80009,10.51634,20.60634,5.44765,0.33159
1,2017-02-01,5.16528,30.44077,4.95867,15.70247,3.54683,7.69569,5.14511,5.14511,40.94107,...,3.84615,3.01659,17.19457,51.58371,90.87481,2.79488,10.70582,47.93936,6.58455,1.37375
2,2017-03-01,3.13360,73.51928,6.37052,9.05647,5.26859,20.22867,4.26561,4.70536,63.14863,...,6.63650,3.92156,15.98793,31.74962,68.17496,1.70535,29.41733,58.02936,6.11084,0.85267
3,2017-04-01,2.68595,62.60330,6.95592,5.09641,5.47520,42.04045,6.94810,4.08970,66.00703,...,5.05279,4.90196,12.29260,35.21870,83.55957,2.17906,52.15537,61.86641,9.66366,1.32638
4,2017-05-01,3.78787,70.59228,20.73002,6.23278,9.05647,45.03078,6.42040,7.12401,92.26033,...,9.35143,8.06938,24.13273,61.16138,84.91704,4.12126,65.51397,72.33538,7.91094,0.66319
5,2017-06-01,3.47796,51.48071,21.69421,3.82231,6.68044,21.63588,7.87159,5.36499,70.93227,...,7.69230,5.12820,31.37254,43.96681,40.72398,3.07910,53.48176,45.33396,8.38465,1.37375
6,2017-07-01,3.09917,37.25895,11.63911,2.89256,8.36776,16.09498,6.77220,4.17766,46.96569,...,6.10859,1.73453,40.34690,35.89743,46.83257,4.07389,37.65987,33.15963,5.92136,0.75793
7,2017-08-01,8.09228,69.28374,20.42011,5.78512,14.32506,45.03078,7.38786,7.51978,85.04837,...,9.35143,6.78733,76.62141,45.02262,60.48265,4.07389,46.13927,61.58218,12.12695,1.61061
8,2017-09-01,3.78787,38.25757,10.08953,5.75068,7.67906,15.34740,6.50835,6.55233,47.62532,...,6.93815,4.82654,34.99245,22.17194,35.29411,3.50544,44.57603,35.57555,11.65324,1.94220
9,2017-10-01,3.92561,54.64876,17.83746,8.12672,8.02341,13.76429,7.65171,8.70712,100.00000,...,12.66968,7.76772,100.00000,34.61538,82.57918,4.78446,78.54097,81.80956,14.49549,4.21601

In [11]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"용산구 관광","keywords":["용산구 관광","용산구가볼만한곳", "용산구유적지","용산구관광지"]},
                     {"groupName":"은평구 관광","keywords":["은평구 관광", "은평구가볼만한곳", "은평구유적지","은평구관광지"]},
                     {"groupName":"종로구 관광","keywords":["종로구 관광", "종로구가볼만한곳", "종로구유적지","종로구관광지"]},
                     {"groupName":"중구 관광","keywords":["중구 관광", "중구가볼만한곳", "중구유적지","중구관광지"]},
                     {"groupName":"중량구 관광","keywords":["중량구 관광", "중량구가볼만한곳", "중량구유적지","중량구관광지"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [12]:
df20 = pd.DataFrame(json_obj['results'][0]['data'])
df20.columns = ['기간', '용산구 관광']
df20 = df20.drop(['기간'], axis=1)

df21 = pd.DataFrame(json_obj['results'][1]['data'])
df21.columns = ['기간', '은평구 관광']
df21 = df21.drop(['기간'], axis=1)

df22 = pd.DataFrame(json_obj['results'][2]['data'])
df22.columns = ['기간', '종로구 관광']
df22 = df22.drop(['기간'], axis=1)

df23 = pd.DataFrame(json_obj['results'][3]['data'])
df23.columns = ['기간', '중구 관광']
df23 = df23.drop(['기간'], axis=1)

df24 = pd.DataFrame(json_obj['results'][4]['data'])
df24.columns = ['기간', '중량구 관광']
df24 = df24.drop(['기간'], axis=1)

df = pd.concat([df, df20,df21,df22,df23,df24], axis=1, join='outer')


df.head(10)

,기간,강남구 관광,강동구 관광,강북구 관광,강서구 관광,관악구 관광,광진구 관광,구로구 관광,금천구 관광,노원구 관광,...,성동구 관광,성북구 관광,송파구 관광,양천구 관광,영등포구 관광,용산구 관광,은평구 관광,종로구 관광,중구 관광,중량구 관광
0,2017-01-01,2.03168,17.49311,4.57988,25.30991,5.85399,3.82585,3.07827,2.90237,22.91116,...,1.80009,10.51634,20.60634,5.44765,0.33159,4.98154,19.41881,5.85793,0.23062,0.46125
1,2017-02-01,5.16528,30.44077,4.95867,15.70247,3.54683,7.69569,5.14511,5.14511,40.94107,...,2.79488,10.70582,47.93936,6.58455,1.37375,3.13653,27.39852,7.24169,0.69188,0.46125
2,2017-03-01,3.13360,73.51928,6.37052,9.05647,5.26859,20.22867,4.26561,4.70536,63.14863,...,1.70535,29.41733,58.02936,6.11084,0.85267,3.69003,71.03321,4.65867,2.16789,1.06088
3,2017-04-01,2.68595,62.60330,6.95592,5.09641,5.47520,42.04045,6.94810,4.08970,66.00703,...,2.17906,52.15537,61.86641,9.66366,1.32638,1.93726,78.92066,5.48892,0.87638,0.36900
4,2017-05-01,3.78787,70.59228,20.73002,6.23278,9.05647,45.03078,6.42040,7.12401,92.26033,...,4.12126,65.51397,72.33538,7.91094,0.66319,2.26014,95.75645,10.47047,0.50738,0.73800
5,2017-06-01,3.47796,51.48071,21.69421,3.82231,6.68044,21.63588,7.87159,5.36499,70.93227,...,3.07910,53.48176,45.33396,8.38465,1.37375,2.81365,77.30627,5.85793,0.23062,NaN
6,2017-07-01,3.09917,37.25895,11.63911,2.89256,8.36776,16.09498,6.77220,4.17766,46.96569,...,4.07389,37.65987,33.15963,5.92136,0.75793,4.42804,32.10332,11.48523,0.92250,NaN
7,2017-08-01,8.09228,69.28374,20.42011,5.78512,14.32506,45.03078,7.38786,7.51978,85.04837,...,4.07389,46.13927,61.58218,12.12695,1.61061,7.33394,72.14022,20.15682,1.29151,NaN
8,2017-09-01,3.78787,38.25757,10.08953,5.75068,7.67906,15.34740,6.50835,6.55233,47.62532,...,3.50544,44.57603,35.57555,11.65324,1.94220,3.36715,28.96678,29.42804,0.92250,NaN
9,2017-10-01,3.92561,54.64876,17.83746,8.12672,8.02341,13.76429,7.65171,8.70712,100.00000,...,4.78446,78.54097,81.80956,14.49549,4.21601,4.93542,70.80258,74.40036,2.72140,NaN

In [13]:
df.to_csv('C:/Users/Public/naver_travel.csv', encoding='utf8')