# - 네이버 데이터랩을 활용한 구 별 각 키워드 검색량 3년 Data Crawling

#### * 구글 트렌드와 똑같이 네이버 데이터랩 역시 한 번에 5개의 키워드 밖에 검색하지 못 해 코드를 반복해서 사용함

In [1]:
import urllib.request
import json
import os
import sys
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
client_id = "03UuFs5fkXeFbYR0uTXT"
client_secret = "_b3QvBuvKQ"
url = "https://openapi.naver.com/v1/datalab/search";

## #카페 키워드로 검색량 분석

In [3]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"강남구 카페","keywords":["강남구 카페"]},
                     {"groupName":"강동구 카페","keywords":["강동구 카페"]},
                     {"groupName":"강북구 카페","keywords":["강북구 카페"]},
                     {"groupName":"강서구 카페","keywords":["강서구 카페"]},
                     {"groupName":"관악구 카페","keywords":["관악구 카페"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [4]:
df0 = pd.DataFrame(json_obj['results'][0]['data'])
df0.columns = ['기간', '강남구 카페']
df0.set_index('기간')

df1 = pd.DataFrame(json_obj['results'][1]['data'])
df1.columns = ['기간', '강동구 카페']
df1 = df1.drop(['기간'], axis=1)

df2 = pd.DataFrame(json_obj['results'][2]['data'])
df2.columns = ['기간', '강북구 카페']
df2 = df2.drop(['기간'], axis=1)

df3 = pd.DataFrame(json_obj['results'][3]['data'])
df3.columns = ['기간', '강서구 카페']
df3 = df3.drop(['기간'], axis=1)

df4 = pd.DataFrame(json_obj['results'][4]['data'])
df4.columns = ['기간', '관악구 카페']
df4 = df4.drop(['기간'], axis=1)

df = pd.concat([df0,df1,df2,df3,df4], axis=1, join='outer')

df.head(10)

           기간   강남구 카페    강동구 카페   강북구 카페    강서구 카페   관악구 카페
0  2017-01-01  0.32167  10.26672  0.57633  14.09998  1.66197
1  2017-02-01  0.14743  11.17812  1.00522  14.63610  1.34030
2  2017-03-01  0.17423   9.50274  1.07224  15.13201  0.99182
3  2017-04-01  0.29486   7.65312  0.85779  14.47527  1.00522
4  2017-05-01  0.14743  10.91006  0.54952  13.22878  1.44752
5  2017-06-01  0.21444  10.19970  0.80418  17.70540  1.76919
6  2017-07-01  0.08041  10.46776  1.39391  17.18268  1.83621
7  2017-08-01  0.22785  13.48344  1.47433  18.71062  1.54134
8  2017-09-01  0.29486  25.29151  0.68355  14.39485  1.75579
9  2017-10-01  0.41549  17.81262  1.12585  18.92507  1.66197

In [5]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"광진구 카페","keywords":["광진구 카페"]},
                     {"groupName":"구로구 카페","keywords":["구로구 카페"]},
                     {"groupName":"금천구 카페","keywords":["금천구 카페"]},
                     {"groupName":"노원구 카페","keywords":["노원구 카페"]},
                     {"groupName":"도봉구 카페","keywords":["도봉구 카페"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [6]:
df5 = pd.DataFrame(json_obj['results'][0]['data'])
df5.columns = ['기간', '광진구 카페']
df5 = df5.drop(['기간'], axis=1)

df6 = pd.DataFrame(json_obj['results'][1]['data'])
df6.columns = ['기간', '구로구 카페']
df6 = df6.drop(['기간'], axis=1)

df7 = pd.DataFrame(json_obj['results'][2]['data'])
df7.columns = ['기간', '금천구 카페']
df7 = df7.drop(['기간'], axis=1)

df8 = pd.DataFrame(json_obj['results'][3]['data'])
df8.columns = ['기간', '노원구 카페']
df8 = df8.drop(['기간'], axis=1)

df9 = pd.DataFrame(json_obj['results'][4]['data'])
df9.columns = ['기간', '도봉구 카페']
df9 = df9.drop(['기간'], axis=1)

df = pd.concat([df, df5,df6,df7,df8,df9], axis=1, join='outer')


df.head(10)

,기간,강남구 카페,강동구 카페,강북구 카페,강서구 카페,관악구 카페,광진구 카페,구로구 카페,금천구 카페,노원구 카페,도봉구 카페
0,2017-01-01,0.32167,10.26672,0.57633,14.09998,1.66197,26.78428,2.80673,10.34482,14.03368,12.10906
1,2017-02-01,0.14743,11.17812,1.00522,14.63610,1.34030,29.83159,3.04731,8.98155,13.07137,14.03368
2,2017-03-01,0.17423,9.50274,1.07224,15.13201,0.99182,26.54370,1.84442,9.14194,16.68003,18.52445
3,2017-04-01,0.29486,7.65312,0.85779,14.47527,1.00522,37.04891,1.52365,13.23175,15.79791,18.20368
4,2017-05-01,0.14743,10.91006,0.54952,13.22878,1.44752,25.82197,1.36327,12.10906,16.43945,18.28388
5,2017-06-01,0.21444,10.19970,0.80418,17.70540,1.76919,33.68083,1.76423,10.74578,51.72413,19.64715
6,2017-07-01,0.08041,10.46776,1.39391,17.18268,1.83621,41.61988,4.41058,12.99117,19.72734,21.57177
7,2017-08-01,0.22785,13.48344,1.47433,18.71062,1.54134,44.66720,2.88692,15.63753,21.25100,22.05292
8,2017-09-01,0.29486,25.29151,0.68355,14.39485,1.75579,40.25661,1.84442,10.98636,12.99117,18.68484
9,2017-10-01,0.41549,17.81262,1.12585,18.92507,1.66197,42.82277,1.04250,14.51483,16.03849,26.38331

In [7]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"동대문구 카페","keywords":["동대문구 카페"]},
                     {"groupName":"동작구 카페","keywords":["동작구 카페"]},
                     {"groupName":"마포구 카페","keywords":["마포구 카페"]},
                     {"groupName":"서대문구 카페","keywords":["서대문구 카페"]},
                     {"groupName":"서초구 카페","keywords":["서초구 카페"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [8]:
df10 = pd.DataFrame(json_obj['results'][0]['data'])
df10.columns = ['기간', '동대문구 카페']
df10 = df10.drop(['기간'], axis=1)

df11 = pd.DataFrame(json_obj['results'][1]['data'])
df11.columns = ['기간', '동작구 카페']
df11 = df11.drop(['기간'], axis=1)

df12 = pd.DataFrame(json_obj['results'][2]['data'])
df12.columns = ['기간', '마포구 카페']
df12 = df12.drop(['기간'], axis=1)

df13 = pd.DataFrame(json_obj['results'][3]['data'])
df13.columns = ['기간', '서대문구 카페']
df13 = df13.drop(['기간'], axis=1)

df14 = pd.DataFrame(json_obj['results'][4]['data'])
df14.columns = ['기간', '서초구 카페']
df14 = df14.drop(['기간'], axis=1)

df = pd.concat([df, df10,df11,df12,df13,df14], axis=1, join='outer')


df.head(10)

,기간,강남구 카페,강동구 카페,강북구 카페,강서구 카페,관악구 카페,광진구 카페,구로구 카페,금천구 카페,노원구 카페,도봉구 카페,동대문구 카페,동작구 카페,마포구 카페,서대문구 카페,서초구 카페
0,2017-01-01,0.32167,10.26672,0.57633,14.09998,1.66197,26.78428,2.80673,10.34482,14.03368,12.10906,0.75308,1.18667,3.46873,1.04974,1.14103
1,2017-02-01,0.14743,11.17812,1.00522,14.63610,1.34030,29.83159,3.04731,8.98155,13.07137,14.03368,0.95846,2.14513,2.64719,0.75308,1.02692
2,2017-03-01,0.17423,9.50274,1.07224,15.13201,0.99182,26.54370,1.84442,9.14194,16.68003,18.52445,0.89000,1.62026,2.28206,0.59333,0.75308
3,2017-04-01,0.29486,7.65312,0.85779,14.47527,1.00522,37.04891,1.52365,13.23175,15.79791,18.20368,0.73026,2.12231,2.37334,1.04974,0.98128
4,2017-05-01,0.14743,10.91006,0.54952,13.22878,1.44752,25.82197,1.36327,12.10906,16.43945,18.28388,0.57051,2.67001,3.46873,0.57051,0.66179
5,2017-06-01,0.21444,10.19970,0.80418,17.70540,1.76919,33.68083,1.76423,10.74578,51.72413,19.64715,0.82154,2.05385,3.49155,0.70743,1.32359
6,2017-07-01,0.08041,10.46776,1.39391,17.18268,1.83621,41.61988,4.41058,12.99117,19.72734,21.57177,0.45641,1.73436,5.20310,0.89000,2.62437
7,2017-08-01,0.22785,13.48344,1.47433,18.71062,1.54134,44.66720,2.88692,15.63753,21.25100,22.05292,1.39205,1.73436,4.40438,1.18667,2.55591
8,2017-09-01,0.29486,25.29151,0.68355,14.39485,1.75579,40.25661,1.84442,10.98636,12.99117,18.68484,1.46052,1.78000,2.80693,1.07256,2.00821
9,2017-10-01,0.41549,17.81262,1.12585,18.92507,1.66197,42.82277,1.04250,14.51483,16.03849,26.38331,1.34641,1.64308,5.06617,1.66590,1.59744

In [9]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"성동구 카페","keywords":["성동구 카페"]},
                     {"groupName":"성북구 카페","keywords":["성북구 카페"]},
                     {"groupName":"송파구 카페","keywords":["송파구 카페"]},
                     {"groupName":"양천구 카페","keywords":["양천구 카페"]},
                     {"groupName":"영등포구 카페","keywords":["영등포구 카페"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [10]:
df15 = pd.DataFrame(json_obj['results'][0]['data'])
df15.columns = ['기간', '성동구 카페']
df15 = df15.drop(['기간'], axis=1)

df16 = pd.DataFrame(json_obj['results'][1]['data'])
df16.columns = ['기간', '성북구 카페']
df16 = df16.drop(['기간'], axis=1)

df17 = pd.DataFrame(json_obj['results'][2]['data'])
df17.columns = ['기간', '송파구 카페']
df17 = df17.drop(['기간'], axis=1)

df18 = pd.DataFrame(json_obj['results'][3]['data'])
df18.columns = ['기간', '양천구 카페']
df18 = df18.drop(['기간'], axis=1)

df19 = pd.DataFrame(json_obj['results'][4]['data'])
df19.columns = ['기간', '영등포구 카페']
df19 = df19.drop(['기간'], axis=1)

df = pd.concat([df, df15,df16,df17,df18,df19], axis=1, join='outer')


df.head(10)

,기간,강남구 카페,강동구 카페,강북구 카페,강서구 카페,관악구 카페,광진구 카페,구로구 카페,금천구 카페,노원구 카페,...,동대문구 카페,동작구 카페,마포구 카페,서대문구 카페,서초구 카페,성동구 카페,성북구 카페,송파구 카페,양천구 카페,영등포구 카페
0,2017-01-01,0.32167,10.26672,0.57633,14.09998,1.66197,26.78428,2.80673,10.34482,14.03368,...,0.75308,1.18667,3.46873,1.04974,1.14103,7.44047,19.84126,22.71825,3.32341,0.54563
1,2017-02-01,0.14743,11.17812,1.00522,14.63610,1.34030,29.83159,3.04731,8.98155,13.07137,...,0.95846,2.14513,2.64719,0.75308,1.02692,8.43253,19.39484,24.50396,4.81150,0.54563
2,2017-03-01,0.17423,9.50274,1.07224,15.13201,0.99182,26.54370,1.84442,9.14194,16.68003,...,0.89000,1.62026,2.28206,0.59333,0.75308,10.11904,24.50396,21.52777,4.11706,0.24801
3,2017-04-01,0.29486,7.65312,0.85779,14.47527,1.00522,37.04891,1.52365,13.23175,15.79791,...,0.73026,2.12231,2.37334,1.04974,0.98128,7.63888,20.78373,19.14682,3.37301,0.74404
4,2017-05-01,0.14743,10.91006,0.54952,13.22878,1.44752,25.82197,1.36327,12.10906,16.43945,...,0.57051,2.67001,3.46873,0.57051,0.66179,6.25000,23.26388,16.22023,4.11706,0.24801
5,2017-06-01,0.21444,10.19970,0.80418,17.70540,1.76919,33.68083,1.76423,10.74578,51.72413,...,0.82154,2.05385,3.49155,0.70743,1.32359,6.59722,23.71031,20.33730,6.20039,0.24801
6,2017-07-01,0.08041,10.46776,1.39391,17.18268,1.83621,41.61988,4.41058,12.99117,19.72734,...,0.45641,1.73436,5.20310,0.89000,2.62437,8.08531,23.80952,24.40476,7.19246,1.14087
7,2017-08-01,0.22785,13.48344,1.47433,18.71062,1.54134,44.66720,2.88692,15.63753,21.25100,...,1.39205,1.73436,4.40438,1.18667,2.55591,11.45833,24.45436,28.12500,8.23412,0.69444
8,2017-09-01,0.29486,25.29151,0.68355,14.39485,1.75579,40.25661,1.84442,10.98636,12.99117,...,1.46052,1.78000,2.80693,1.07256,2.00821,9.47420,23.90873,22.17261,3.67063,0.24801
9,2017-10-01,0.41549,17.81262,1.12585,18.92507,1.66197,42.82277,1.04250,14.51483,16.03849,...,1.34641,1.64308,5.06617,1.66590,1.59744,10.16865,27.43055,26.73611,7.68849,0.24801

In [11]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"용산구 카페","keywords":["용산구 카페"]},
                     {"groupName":"은평구 카페","keywords":["은평구 카페"]},
                     {"groupName":"종로구 카페","keywords":["종로구 카페"]},
                     {"groupName":"중구 카페","keywords":["중구 카페"]},
                     {"groupName":"중량구 카페","keywords":["중량구 카페"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [12]:
df20 = pd.DataFrame(json_obj['results'][0]['data'])
df20.columns = ['기간', '용산구 카페']
df20 = df20.drop(['기간'], axis=1)

df21 = pd.DataFrame(json_obj['results'][1]['data'])
df21.columns = ['기간', '은평구 카페']
df21 = df21.drop(['기간'], axis=1)

df22 = pd.DataFrame(json_obj['results'][2]['data'])
df22.columns = ['기간', '종로구 카페']
df22 = df22.drop(['기간'], axis=1)

df23 = pd.DataFrame(json_obj['results'][3]['data'])
df23.columns = ['기간', '중구 카페']
df23 = df23.drop(['기간'], axis=1)

df24 = pd.DataFrame(json_obj['results'][4]['data'])
df24.columns = ['기간', '중량구 카페']
df24 = df24.drop(['기간'], axis=1)

df = pd.concat([df, df20,df21,df22,df23,df24], axis=1, join='outer')


df.head(10)

,기간,강남구 카페,강동구 카페,강북구 카페,강서구 카페,관악구 카페,광진구 카페,구로구 카페,금천구 카페,노원구 카페,...,성동구 카페,성북구 카페,송파구 카페,양천구 카페,영등포구 카페,용산구 카페,은평구 카페,종로구 카페,중구 카페,중량구 카페
0,2017-01-01,0.32167,10.26672,0.57633,14.09998,1.66197,26.78428,2.80673,10.34482,14.03368,...,7.44047,19.84126,22.71825,3.32341,0.54563,0.28708,5.39712,0.45933,0.32535,0.04784
1,2017-02-01,0.14743,11.17812,1.00522,14.63610,1.34030,29.83159,3.04731,8.98155,13.07137,...,8.43253,19.39484,24.50396,4.81150,0.54563,0.27751,5.37799,0.53588,0.55502,0.05741
2,2017-03-01,0.17423,9.50274,1.07224,15.13201,0.99182,26.54370,1.84442,9.14194,16.68003,...,10.11904,24.50396,21.52777,4.11706,0.24801,0.04784,6.06698,0.24880,0.44019,NaN
3,2017-04-01,0.29486,7.65312,0.85779,14.47527,1.00522,37.04891,1.52365,13.23175,15.79791,...,7.63888,20.78373,19.14682,3.37301,0.74404,0.30622,5.07177,0.41148,0.71770,NaN
4,2017-05-01,0.14743,10.91006,0.54952,13.22878,1.44752,25.82197,1.36327,12.10906,16.43945,...,6.25000,23.26388,16.22023,4.11706,0.24801,0.10526,6.83253,0.57416,0.93779,NaN
5,2017-06-01,0.21444,10.19970,0.80418,17.70540,1.76919,33.68083,1.76423,10.74578,51.72413,...,6.59722,23.71031,20.33730,6.20039,0.24801,0.05741,7.23444,0.71770,0.70813,NaN
6,2017-07-01,0.08041,10.46776,1.39391,17.18268,1.83621,41.61988,4.41058,12.99117,19.72734,...,8.08531,23.80952,24.40476,7.19246,1.14087,0.47846,8.47846,0.57416,0.97607,NaN
7,2017-08-01,0.22785,13.48344,1.47433,18.71062,1.54134,44.66720,2.88692,15.63753,21.25100,...,11.45833,24.45436,28.12500,8.23412,0.69444,0.34449,11.69377,0.49760,1.44497,NaN
8,2017-09-01,0.29486,25.29151,0.68355,14.39485,1.75579,40.25661,1.84442,10.98636,12.99117,...,9.47420,23.90873,22.17261,3.67063,0.24801,0.15311,7.97129,0.18181,1.25358,NaN
9,2017-10-01,0.41549,17.81262,1.12585,18.92507,1.66197,42.82277,1.04250,14.51483,16.03849,...,10.16865,27.43055,26.73611,7.68849,0.24801,0.42105,9.19617,0.90909,0.98564,NaN

In [13]:
df.to_csv('C:/Users/Public/naver_cafe.csv', encoding='utf8')