# - 네이버 데이터랩을 활용한 구 별 각 키워드 검색량 3년 Data Crawling

#### * 구글 트렌드와 똑같이 네이버 데이터랩 역시 한 번에 5개의 키워드 밖에 검색하지 못 해 코드를 반복해서 사용함

In [2]:
import urllib.request
import json
import os
import sys
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
client_id = "03UuFs5fkXeFbYR0uTXT"
client_secret = "_b3QvBuvKQ"
url = "https://openapi.naver.com/v1/datalab/search";

## #교통 키워드로 검색량 분석

In [4]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"강남구 교통","keywords":["강남구 교통","강남구지하철", "강남구버스"]},
                     {"groupName":"강동구 교통","keywords":["강동구 교통", "강동구지하철", "강동구버스"]},
                     {"groupName":"강북구 교통","keywords":["강북구 교통", "강북구지하철", "강북구버스"]},
                     {"groupName":"강서구 교통","keywords":["강서구 교통", "강서구지하철", "강서구버스"]},
                     {"groupName":"관악구 교통","keywords":["관악구 교통", "관악구지하철", "관악구버스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [5]:
df0 = pd.DataFrame(json_obj['results'][0]['data'])
df0.columns = ['기간', '강남구 교통']
df0.set_index('기간')

df1 = pd.DataFrame(json_obj['results'][1]['data'])
df1.columns = ['기간', '강동구 교통']
df1 = df1.drop(['기간'], axis=1)

df2 = pd.DataFrame(json_obj['results'][2]['data'])
df2.columns = ['기간', '강북구 교통']
df2 = df2.drop(['기간'], axis=1)

df3 = pd.DataFrame(json_obj['results'][3]['data'])
df3.columns = ['기간', '강서구 교통']
df3 = df3.drop(['기간'], axis=1)

df4 = pd.DataFrame(json_obj['results'][4]['data'])
df4.columns = ['기간', '관악구 교통']
df4 = df4.drop(['기간'], axis=1)

df = pd.concat([df0,df1,df2,df3,df4], axis=1, join='outer')

df.head(10)

           기간   강남구 교통    강동구 교통   강북구 교통    강서구 교통   관악구 교통
0  2017-03-01  1.05932   8.26271  1.05932  21.82203  5.50847
1  2017-05-01  1.27118   6.35593  1.05932  26.27118  1.27118
2  2017-08-01  1.05932   1.05932  3.38983  26.27118  2.11864
3  2017-12-01  2.54237   1.05932  2.54237  11.22881  2.11864
4  2018-01-01  1.05932   5.29661  1.27118  32.62711  6.14406
5  2018-07-01  1.05932   4.87288  1.05932  27.54237  5.29661
6  2019-05-01  4.02542  17.79661  1.05932  23.09322  8.47457
7  2019-09-01  1.05932  41.52542  1.05932  20.97457  3.81355
8  2019-12-01  1.27118   4.23728  1.05932  22.03389  4.02542
9  2020-04-01  2.96610  17.16101  1.05932  27.33050  1.05932

In [6]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"광진구 교통","keywords":["광진구 교통", "광진구지하철", "광진구버스"]},
                     {"groupName":"구로구 교통","keywords":["구로구 교통", "구로구지하철", "구로구버스"]},
                     {"groupName":"금천구 교통","keywords":["금천구 교통", "금천구지하철", "금천구버스"]},
                     {"groupName":"노원구 교통","keywords":["노원구 교통", "노원구지하철", "노원구버스"]},
                     {"groupName":"도봉구 교통","keywords":["도봉구 교통", "도봉구지하철", "도봉구버스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [7]:
df5 = pd.DataFrame(json_obj['results'][0]['data'])
df5.columns = ['기간', '광진구 교통']
df5 = df5.drop(['기간'], axis=1)

df6 = pd.DataFrame(json_obj['results'][1]['data'])
df6.columns = ['기간', '구로구 교통']
df6 = df6.drop(['기간'], axis=1)

df7 = pd.DataFrame(json_obj['results'][2]['data'])
df7.columns = ['기간', '금천구 교통']
df7 = df7.drop(['기간'], axis=1)

df8 = pd.DataFrame(json_obj['results'][3]['data'])
df8.columns = ['기간', '노원구 교통']
df8 = df8.drop(['기간'], axis=1)

df9 = pd.DataFrame(json_obj['results'][4]['data'])
df9.columns = ['기간', '도봉구 교통']
df9 = df9.drop(['기간'], axis=1)

df = pd.concat([df, df5,df6,df7,df8,df9], axis=1, join='outer')


df.head(10)

,기간,강남구 교통,강동구 교통,강북구 교통,강서구 교통,관악구 교통,광진구 교통,구로구 교통,금천구 교통,노원구 교통,도봉구 교통
0,2017-03-01,1.05932,8.26271,1.05932,21.82203,5.50847,3.33333,1.11111,5.77777,21.11111,1.55555
1,2017-05-01,1.27118,6.35593,1.05932,26.27118,1.27118,1.11111,1.77777,11.77777,52.22222,1.11111
2,2017-08-01,1.05932,1.05932,3.38983,26.27118,2.11864,2.22222,3.33333,3.11111,23.55555,4.44444
3,2017-12-01,2.54237,1.05932,2.54237,11.22881,2.11864,5.33333,1.11111,4.22222,8.22222,1.33333
4,2018-01-01,1.05932,5.29661,1.27118,32.62711,6.14406,2.22222,1.11111,25.33333,31.55555,6.66666
5,2018-07-01,1.05932,4.87288,1.05932,27.54237,5.29661,12.66666,1.77777,5.33333,15.11111,7.11111
6,2019-05-01,4.02542,17.79661,1.05932,23.09322,8.47457,3.77777,1.11111,2.66666,24.00000,12.00000
7,2019-09-01,1.05932,41.52542,1.05932,20.97457,3.81355,24.66666,1.33333,22.00000,31.77777,20.88888
8,2019-12-01,1.27118,4.23728,1.05932,22.03389,4.02542,12.22222,1.33333,8.22222,49.33333,5.77777
9,2020-04-01,2.96610,17.16101,1.05932,27.33050,1.05932,8.88888,1.33333,3.77777,24.44444,7.77777

In [8]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"동대문구 교통","keywords":["동대문구 교통","동대문구지하철", "동대문구버스"]},
                     {"groupName":"동작구 교통","keywords":["동작구 교통","동작구지하철", "동작구버스"]},
                     {"groupName":"마포구 교통","keywords":["마포구 교통","마포구지하철", "마포구버스"]},
                     {"groupName":"서대문구 교통","keywords":["서대문구 교통","서대문구지하철", "서대문구버스"]},
                     {"groupName":"서초구 교통","keywords":["서초구 교통","서초구지하철", "서초구버스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [9]:
df10 = pd.DataFrame(json_obj['results'][0]['data'])
df10.columns = ['기간', '동대문구 교통']
df10 = df10.drop(['기간'], axis=1)

df11 = pd.DataFrame(json_obj['results'][1]['data'])
df11.columns = ['기간', '동작구 교통']
df11 = df11.drop(['기간'], axis=1)

df12 = pd.DataFrame(json_obj['results'][2]['data'])
df12.columns = ['기간', '마포구 교통']
df12 = df12.drop(['기간'], axis=1)

df13 = pd.DataFrame(json_obj['results'][3]['data'])
df13.columns = ['기간', '서대문구 교통']
df13 = df13.drop(['기간'], axis=1)

df14 = pd.DataFrame(json_obj['results'][4]['data'])
df14.columns = ['기간', '서초구 교통']
df14 = df14.drop(['기간'], axis=1)

df = pd.concat([df, df10,df11,df12,df13,df14], axis=1, join='outer')


df.head(10)

,기간,강남구 교통,강동구 교통,강북구 교통,강서구 교통,관악구 교통,광진구 교통,구로구 교통,금천구 교통,노원구 교통,도봉구 교통,동대문구 교통,동작구 교통,마포구 교통,서대문구 교통,서초구 교통
0,2017-03-01,1.05932,8.26271,1.05932,21.82203,5.50847,3.33333,1.11111,5.77777,21.11111,1.55555,1.01832,1.01832,2.44399,3.25865,7.94297
1,2017-05-01,1.27118,6.35593,1.05932,26.27118,1.27118,1.11111,1.77777,11.77777,52.22222,1.11111,3.25865,1.01832,2.03665,3.46232,2.03665
2,2017-08-01,1.05932,1.05932,3.38983,26.27118,2.11864,2.22222,3.33333,3.11111,23.55555,4.44444,100.00000,1.42566,1.01832,3.05498,1.01832
3,2017-12-01,2.54237,1.05932,2.54237,11.22881,2.11864,5.33333,1.11111,4.22222,8.22222,1.33333,1.22199,1.01832,2.24032,3.66598,1.22199
4,2018-01-01,1.05932,5.29661,1.27118,32.62711,6.14406,2.22222,1.11111,25.33333,31.55555,6.66666,2.03665,4.88798,1.01832,1.22199,6.31364
5,2018-07-01,1.05932,4.87288,1.05932,27.54237,5.29661,12.66666,1.77777,5.33333,15.11111,7.11111,1.22199,1.62932,1.42566,1.01832,4.07331
6,2019-05-01,4.02542,17.79661,1.05932,23.09322,8.47457,3.77777,1.11111,2.66666,24.00000,12.00000,3.05498,1.01832,1.01832,2.03665,1.22199
7,2019-09-01,1.05932,41.52542,1.05932,20.97457,3.81355,24.66666,1.33333,22.00000,31.77777,20.88888,1.01832,1.01832,1.01832,1.01832,6.51731
8,2019-12-01,1.27118,4.23728,1.05932,22.03389,4.02542,12.22222,1.33333,8.22222,49.33333,5.77777,1.01832,8.75763,3.05498,5.49898,4.27698
9,2020-04-01,2.96610,17.16101,1.05932,27.33050,1.05932,8.88888,1.33333,3.77777,24.44444,7.77777,1.01832,1.62932,2.03665,2.03665,5.49898

In [10]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"성동구 교통","keywords":["성동구 교통","성동구지하철", "성동구버스"]},
                     {"groupName":"성북구 교통","keywords":["성북구 교통","성북구지하철", "성북구버스"]},
                     {"groupName":"송파구 교통","keywords":["송파구 교통","송파구지하철", "송파구버스"]},
                     {"groupName":"양천구 교통","keywords":["양천구 교통","양천구지하철", "양천구버스"]},
                     {"groupName":"영등포구 교통","keywords":["영등포구 교통","영등포구지하철", "영등포구버스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [11]:
df15 = pd.DataFrame(json_obj['results'][0]['data'])
df15.columns = ['기간', '성동구 교통']
df15 = df15.drop(['기간'], axis=1)

df16 = pd.DataFrame(json_obj['results'][1]['data'])
df16.columns = ['기간', '성북구 교통']
df16 = df16.drop(['기간'], axis=1)

df17 = pd.DataFrame(json_obj['results'][2]['data'])
df17.columns = ['기간', '송파구 교통']
df17 = df17.drop(['기간'], axis=1)

df18 = pd.DataFrame(json_obj['results'][3]['data'])
df18.columns = ['기간', '양천구 교통']
df18 = df18.drop(['기간'], axis=1)

df19 = pd.DataFrame(json_obj['results'][4]['data'])
df19.columns = ['기간', '영등포구 교통']
df19 = df19.drop(['기간'], axis=1)

df = pd.concat([df, df15,df16,df17,df18,df19], axis=1, join='outer')


df.head(10)

,기간,강남구 교통,강동구 교통,강북구 교통,강서구 교통,관악구 교통,광진구 교통,구로구 교통,금천구 교통,노원구 교통,...,동대문구 교통,동작구 교통,마포구 교통,서대문구 교통,서초구 교통,성동구 교통,성북구 교통,송파구 교통,양천구 교통,영등포구 교통
0,2017-03-01,1.05932,8.26271,1.05932,21.82203,5.50847,3.33333,1.11111,5.77777,21.11111,...,1.01832,1.01832,2.44399,3.25865,7.94297,2.11019,0.70339,0.58616,0.70339,0.70339
1,2017-05-01,1.27118,6.35593,1.05932,26.27118,1.27118,1.11111,1.77777,11.77777,52.22222,...,3.25865,1.01832,2.03665,3.46232,2.03665,0.70339,17.46776,0.70339,1.87573,0.58616
2,2017-08-01,1.05932,1.05932,3.38983,26.27118,2.11864,2.22222,3.33333,3.11111,23.55555,...,100.00000,1.42566,1.01832,3.05498,1.01832,0.58616,23.44665,5.50996,11.01992,1.17233
3,2017-12-01,2.54237,1.05932,2.54237,11.22881,2.11864,5.33333,1.11111,4.22222,8.22222,...,1.22199,1.01832,2.24032,3.66598,1.22199,0.82063,18.17116,12.89566,10.08206,0.70339
4,2018-01-01,1.05932,5.29661,1.27118,32.62711,6.14406,2.22222,1.11111,25.33333,31.55555,...,2.03665,4.88798,1.01832,1.22199,6.31364,0.58616,29.89449,5.39273,2.93083,0.93786
5,2018-07-01,1.05932,4.87288,1.05932,27.54237,5.29661,12.66666,1.77777,5.33333,15.11111,...,1.22199,1.62932,1.42566,1.01832,4.07331,0.58616,10.66822,6.09613,6.09613,NaN
6,2019-05-01,4.02542,17.79661,1.05932,23.09322,8.47457,3.77777,1.11111,2.66666,24.00000,...,3.05498,1.01832,1.01832,2.03665,1.22199,1.99296,31.06682,100.00000,5.62719,NaN
7,2019-09-01,1.05932,41.52542,1.05932,20.97457,3.81355,24.66666,1.33333,22.00000,31.77777,...,1.01832,1.01832,1.01832,1.01832,6.51731,4.68933,32.82532,1.17233,1.28956,NaN
8,2019-12-01,1.27118,4.23728,1.05932,22.03389,4.02542,12.22222,1.33333,8.22222,49.33333,...,1.01832,8.75763,3.05498,5.49898,4.27698,0.58616,12.19226,4.57209,3.28253,NaN
9,2020-04-01,2.96610,17.16101,1.05932,27.33050,1.05932,8.88888,1.33333,3.77777,24.44444,...,1.01832,1.62932,2.03665,2.03665,5.49898,0.58616,17.23329,12.54396,3.28253,NaN

In [13]:
body = {
    "startDate":"2017-01-01",
    "endDate":"2021-11-26",
    "timeUnit":"month",
    "keywordGroups":[{"groupName":"용산구 교통","keywords":["용산구 교통","용산구지하철", "용산구버스"]},
                     {"groupName":"은평구 교통","keywords":["은평구 교통","은평구지하철", "은평구버스"]},
                     {"groupName":"종로구 교통","keywords":["종로구 교통","종로구지하철", "종로구버스"]},
                     {"groupName":"중구 교통","keywords":["중구 교통","중구지하철", "중구버스"]},
                     {"groupName":"중량구 교통","keywords":["중량구 교통","중량구지하철", "중량구버스"]}
                    ],
}
body = json.dumps(body)
                     
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()

json_obj = json.loads(response.read().decode('utf-8'))

In [14]:
df20 = pd.DataFrame(json_obj['results'][0]['data'])
df20.columns = ['기간', '용산구 교통']
df20 = df20.drop(['기간'], axis=1)

df21 = pd.DataFrame(json_obj['results'][1]['data'])
df21.columns = ['기간', '은평구 교통']
df21 = df21.drop(['기간'], axis=1)

df22 = pd.DataFrame(json_obj['results'][2]['data'])
df22.columns = ['기간', '종로구 교통']
df22 = df22.drop(['기간'], axis=1)

df23 = pd.DataFrame(json_obj['results'][3]['data'])
df23.columns = ['기간', '중구 교통']
df23 = df23.drop(['기간'], axis=1)

df24 = pd.DataFrame(json_obj['results'][4]['data'])
df24.columns = ['기간', '중량구 교통']
df24 = df24.drop(['기간'], axis=1)

df = pd.concat([df, df20,df21,df22,df23,df24], axis=1, join='outer')


df.head(10)

,기간,강남구 교통,강동구 교통,강북구 교통,강서구 교통,관악구 교통,광진구 교통,구로구 교통,금천구 교통,노원구 교통,...,성동구 교통,성북구 교통,송파구 교통,양천구 교통,영등포구 교통,용산구 교통,은평구 교통,종로구 교통,중구 교통,중량구 교통
0,2017-03-01,1.05932,8.26271,1.05932,21.82203,5.50847,3.33333,1.11111,5.77777,21.11111,...,2.11019,0.70339,0.58616,0.70339,0.70339,0.21758,30.33072,0.60922,0.65274,0.21758
1,2017-05-01,1.27118,6.35593,1.05932,26.27118,1.27118,1.11111,1.77777,11.77777,52.22222,...,0.70339,17.46776,0.70339,1.87573,0.58616,0.21758,36.46649,0.56570,0.26109,NaN
2,2017-08-01,1.05932,1.05932,3.38983,26.27118,2.11864,2.22222,3.33333,3.11111,23.55555,...,0.58616,23.44665,5.50996,11.01992,1.17233,0.21758,38.51174,0.52219,0.73977,NaN
3,2017-12-01,2.54237,1.05932,2.54237,11.22881,2.11864,5.33333,1.11111,4.22222,8.22222,...,0.82063,18.17116,12.89566,10.08206,0.70339,0.21758,29.15578,0.30461,0.21758,NaN
4,2018-01-01,1.05932,5.29661,1.27118,32.62711,6.14406,2.22222,1.11111,25.33333,31.55555,...,0.58616,29.89449,5.39273,2.93083,0.93786,0.21758,47.73716,0.26109,0.21758,NaN
5,2018-07-01,1.05932,4.87288,1.05932,27.54237,5.29661,12.66666,1.77777,5.33333,15.11111,...,0.58616,10.66822,6.09613,6.09613,NaN,0.21758,26.10966,0.21758,0.21758,NaN
6,2019-05-01,4.02542,17.79661,1.05932,23.09322,8.47457,3.77777,1.11111,2.66666,24.00000,...,1.99296,31.06682,100.00000,5.62719,NaN,0.60922,48.47693,0.21758,0.30461,NaN
7,2019-09-01,1.05932,41.52542,1.05932,20.97457,3.81355,24.66666,1.33333,22.00000,31.77777,...,4.68933,32.82532,1.17233,1.28956,NaN,0.21758,39.99129,0.21758,0.21758,NaN
8,2019-12-01,1.27118,4.23728,1.05932,22.03389,4.02542,12.22222,1.33333,8.22222,49.33333,...,0.58616,12.19226,4.57209,3.28253,NaN,0.21758,34.98694,0.26109,0.52219,NaN
9,2020-04-01,2.96610,17.16101,1.05932,27.33050,1.05932,8.88888,1.33333,3.77777,24.44444,...,0.58616,17.23329,12.54396,3.28253,NaN,0.26109,39.64316,0.30461,0.56570,NaN

In [15]:
df.to_csv('C:/Users/Public/naver_transaction.csv', encoding='utf8')